.producto {
  padding: 10px;
  width: 200px;
  min-height: 200px;
  text-align: left;
  transition: transform 0.2s, box-shadow 0.2s;
  color: #666;
}

.producto:hover h2 {
  text-decoration: underline;
}

.producto img {
  margin-bottom: 5px;
  min-width: 100%;
}

.producto h2 {
  margin: 0px;
  font-size: 12px;
}

.producto p {
  font-size: 14px;
  margin: 5px 0;
  color: black;
  font-weight: bold;
}
